.features {
    background: #ffff;
    margin: 0 40px 30px;
}

.features_item {
    display: flex;
    justify-items: center;
}

.feature_item {
    padding: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.feature_item img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.feature_item .text p {
    font-size: 12px;
}


/* stert  banners  */

.banners {
    margin: 3rem 0;
}

.banners-imgs {
    display: flex;
    justify-content: space-around;
}

.banners-imgs img {
    width: 100%;
    height: 100%;
}

.banners-img {
    position: relative;
    width: 400px;
}


.hover_color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hover_color {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, transparent 50%, #ffffff72 60%, #ffffff75 70%, transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    z-index: 90;
    transition: .8s ease;

}

.banners-imgs .banners-img:hover .hover_color {
    background-size: 101% 104%;
    background-position: 248% 0;
}

@media (max-width: 1200px) {
    .feature_item {
        padding: 10px 4px;
    }

    .banners-img {
        width: 360px;
    }
}

@media (max-width: 1000px) {

    .feature_item {
        padding: 11px;
    }

    .features {
        margin: 0 21px 22px;
    }

    .feature_item img {
        width: 36px;
        height: 36px;
        padding-right: 10px;
    }

    .feature_item .text h3 {
        font-size: 13px;
    }

    .banners .banners-img {
        width: 288px;
    }

    .img2 {
        width: 410px !important;
    }
}

@media (max-width: 885px) {
    .features_item {
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .features_item .feature_item {
        padding: 10px 15px;
    }

    .feature_item .text h3 {
        font-size: 18px;
    }

    .feature_item .text p {
        font-size: 13px;
    }

    .feature_item {
        padding: 10px 4px;
    }

    .features {
        margin: 0 11px 22px;
    }

    .container {
        width: 98%;
    }

    .banners .banners-img {
        width: 255px;
    }
}

@media(max-width: 650px) {
    .banners {
        margin: 1rem 0;
    }

    .banners-imgs {
        flex-wrap: wrap;
    }

    .features_item .feature_item {
        padding: 10px 6px;
    }

    .banners .banners-img {
        padding: 10px 0;
    }
}

@media(max-width:550px) {
    .features_item {
        padding: 13px;
    }

    .feature_item img {
        width: 25px;
        height: 25px;
        padding-right: 6px;
    }

    .feature_item .text h3 {
        font-size: 15px;
    }


    .feature_item .text p {
        font-size: 10px;
    }

    .banners .banners-img {
        width: 203px;
        padding: 7px 0
    }
}

@media(max-width:450px) {
    .features {
        margin: 0 6px 22px;
    }

    .features_item {
        padding: 7px;
    }

    .features_item .feature_item {
        padding: 10px 3px;
    }

    .banners .banners-img {
        width: 306px;
        padding: 5px 0;
    }

    .img2 {
        width: 339px !important;
    }
}