.footer {
  display: flex;
  background: #2f2f2f;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  border-top: 2.3px var(--pren-color) solid;
}

.footer .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  width: 65%;

}

.links .links-column {
  padding: 20px;
}

.links .links-column p {
  font-size: 18px;
  font-weight: 100;
}

.links-column h4 {
  color: rgb(255, 255, 255) !important;
}

.links-colum h4:hover {
  color: #fff;
}

.links .links-column a {
  cursor: pointer;
  display: block;
  padding: 8px;
  color: #929292;
  text-decoration: underline;
  transition: 0.5px ease;
}

.links .links-column a:hover {
  color: #c0c0c0;
  text-decoration: none;
}

.socials {
  display: inline-block;
}

.socials img {
  width: 270px;
  padding: 15px;
}

.socials a {
  margin-bottom: 20px;
  background: #e0e0e0;
  color: #000;
  font-size: 19px;
  padding: 15px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.socials a:hover {
  transform: translateY(-4px);
  background: #ededed;
}

.socials p {
  font-size: 25px;
  font-weight: 500;
}

footer .copy {
  padding: 10px 25px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2.3px var(--pren-color) solid;
  background: var(--derk-color);
}

.copyright {
  color: #c0c0c0 !important;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .footer {
    padding: 25px;
  }

  .socials img {
    width: 211px;
  }

  .socials a {
    padding: 13px;
    font-size: 19px;
  }

  .links .links-column {
    padding: 13px;
  }

  .links .links-column a {
    padding: 5px;
  }

  footer .copy {
    height: 30px;
  }

  .copyright {
    font-size: 17px;
  }

  .imgCopy img {
    width: 50px;
  }
}

@media (max-width: 900px) {
  .socials a {
    padding: 9px;
    font-size: 18px;
  }

  .footer {
    padding: 17px;
  }

  .links .links-column {
    padding: 8px;
  }
}

@media(max-width:650px) {
  .footer {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .footer .socials {
    width: 50%;
  }

  .footer .links {
    width: 90%;
  }

  .copyright {
    font-size: 13px;
  }
}

@media(max-width:550px) {
  .footer .socials {
    width: 65%;
  }

  .socials img {
    width: 159px;
  }

  .footer {
    padding: 12px;
  }

  .footer .links {
    width: 101%;
  }

  .imgCopy img {
    width: 32px;
  }

  .copyright {
    font-size: 12px;
  }
}

@media(max-width:450px) {
  .footer .socials {
    width: 99%;
  }

  .socials img {
    width: 147px;
    padding: 13px 0 14px;
  }

  footer .copy {
    padding: 10px;
  }

  .imgCopy img {
    width: 27px;
  }
}