.slider {
  width: 75%;
  height: 400px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 10px;
}

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 10s slide infinite;
}

.slide {
  position: relative;
  width: 25%;
  float: left;
}

.slide img {
  width: 100%;
  height: 400px;
}

@keyframes slide {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  55% {
    left: -300%;
  }

  65% {
    left: -300%;
  }

  66% {
    left: -200%;
  }

  74% {
    left: -200%;
  }

  75% {
    left: -100%;
  }

  85% {
    left: -100%;
  }

  90% {
    left: 0;
  }

  1000% {
    left: 0;
  }
}

@media (max-width: 1200px) {
  .slider {
    width: 69%;
    height: 380px;
    margin-top: 34px;
  }

  .slide img {
    height: 380px;
  }
}

@media (max-width: 1000px) {
  .slider {
    width: 66%;
    height: 295px;
    margin-top: 44px;
  }

  .slide img {
    height: 344px;
  }
}

@media (max-width: 885px) {
  .slider {
    width: 71%;
    height: 269px;
    margin-top: 50px;
  }

  .slide img {
    height: 269px;
  }
}

@media(max-width: 650px) {
  .slider {
    width: 100%;
    height: 281px;
    margin-top: 21px;
  }

  .slide img {
    height: 281px;
  }
}

@media(max-width:550px) {
  .slider {
    height: 235px;
    margin-top: 14px;
  }

  .slide img {
    height: 235px;
  }

}